<%- include ("header") %>
    <h1><%= name %></h1>
    <p><%= email %></p>
    <p><%= phone %></p>
    <p><%= date %></p>
    <p><%= other %></p>
    <form action="/member/delete/<%= _id %>" method="post">
        <button class="btn">Ta bort medlem</button>
    </form>
   
<h2>Uppdatera Information</h2>
    <form action="/member/update/<%= _id %>" method="post">
        <label for="name">Namn:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required>
        <br>
        <label for="email">E-post:</label>
        <input type="email" id="email" name="email" value="<%= email %>" required>
        <br>
        <label for="phone">Telefonnummer:</label>
        <input type="number" id="phone" name="phone" value="<%= phone %>" required>
        <br>
        <label for="date">Datum:</label>
        <input type="date" id="date" name="date" value="<%= date %>" required>
        <br>
        <label for="other">Favoritdrink/ övrig info:</label>
        <input type="text" id="text" name="text" value="<%= other %>">
        <br>
        <button class="btn">Uppdatera Information</button>
      </form>
    

    <%- include ("footer") %>